.skeleton-loader-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton-loader {
  animation: skeletonLoading 1.5s infinite calc(var(--delay, 0) * 0.1s);
  will-change: background-position;
}
